/*------------------- Fonts -------------------*/

@font-face {
    font-family: "Iosevka";
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    font-style: normal;
    src: url("/fonts/iosevka-extended.woff2") format("woff2");
    ascent-override: 100%;
}
@font-face {
    font-family: "Iosevka";
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    font-style: italic;
    src: url("/fonts/iosevka-extendeditalic.woff2") format("woff2");
    ascent-override: 100%;
}
@font-face {
    font-family: "Iosevka";
    font-display: swap;
    font-weight: 500;
    font-stretch: expanded;
    font-style: normal;
    src: url("/fonts/iosevka-extendedmedium.woff2") format("woff2");
    ascent-override: 100%;
}
@font-face {
    font-family: "Iosevka";
    font-display: swap;
    font-weight: 500;
    font-stretch: expanded;
    font-style: italic;
    src: url("/fonts/iosevka-extendedmediumitalic.woff2") format("woff2");
    ascent-override: 100%;
}
@font-face {
    font-family: "Iosevka";
    font-display: swap;
    font-weight: 600;
    font-stretch: expanded;
    font-style: normal;
    src: url("/fonts/iosevka-extendedsemibold.woff2") format("woff2");
    ascent-override: 100%;
}
@font-face {
    font-family: "Iosevka";
    font-display: swap;
    font-weight: 600;
    font-stretch: expanded;
    font-style: italic;
    src: url("/fonts/iosevka-extendedsemibolditalic.woff2") format("woff2");
    ascent-override: 100%;
}
@font-face {
    font-family: "Iosevka";
    font-display: swap;
    font-weight: 700;
    font-stretch: expanded;
    font-style: normal;
    src: url("/fonts/iosevka-extendedbold.woff2") format("woff2");
    ascent-override: 100%;
}
@font-face {
    font-family: "Iosevka";
    font-display: swap;
    font-weight: 700;
    font-stretch: expanded;
    font-style: italic;
    src: url("/fonts/iosevka-extendedbolditalic.woff2") format("woff2");
    ascent-override: 100%;
}

/*------------------- Main -------------------*/

body {
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;

    line-height: 1.5rem;
    text-align: left;
}

html {
    background-color: var(--background-color);
    color: var(--text-color);

    font-family: var(--font-one);
    font-weight: 500;
    font-size: 1em;

    tab-size: 4;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    scrollbar-color: var(--primary-color) var(--background-color) !important;
    scrollbar-width: thin !important;
}

::selection {
    background: var(--primary-color) !important;
    color: var(--background-color) !important;
}

/*------------------- Variables -------------------*/

:root {
    /*------- Theme Variables -------*/

    --primary-color-hsl:    var(--mauve-300-hsl);
    --primary-color:        var(--mauve-300);
    --primary-shade-color:  var(--mauve-400);
    --primary-tint-color:   var(--mauve-200);

    --text-color:           var(--cinder-200);
    --text-shade-color:     var(--cinder-400);
    --text-tint-color:      var(--cinder-100);
    --text-hover-color:     var(--text-tint-color);
    --text-disabled-color:  var(--text-shade-color);

    --background-color:     var(--cinder-900);
    --background-color-hsl: var(--cinder-900-hsl);
    --background-transparent-color: hsla(var(--background-color-hsl), 0.75);

    --border-width:         2px;
    --border-color:         hsla(var(--cinder-800-hsl), 0.5);
    --border-shade-color:   hsla(var(--cinder-900-hsl), 0.3);
    --border-tint-color:    hsla(var(--cinder-700-hsl), 0.5);
    --border-radius:        8px;

    /*------- Font Variables -------*/

    --font-one: "Iosevka", "Courier New", monospace;

    /*----- Colors Palette Variables -----*/


    --cinder-50:  #f9fafb;
    --cinder-100: #f4f4f7;
    --cinder-200: #e7e7eb;
    --cinder-300: #d3d3db;
    --cinder-400: #9e9eab;
    --cinder-500: #717180;
    --cinder-600: #525360;
    --cinder-700: #3f3f4b;
    --cinder-800: #272732;
    --cinder-900: #171721;
    --cinder-950: #11111b;

    --cinder-50-hsl:  0, 0%, 99%;
    --cinder-100-hsl: 0, 0%, 94%;
    --cinder-200-hsl: 260, 4%, 85%;
    --cinder-300-hsl: 253, 7%, 75%;
    --cinder-400-hsl: 252, 9%, 66%;
    --cinder-500-hsl: 252, 12%, 56%;
    --cinder-600-hsl: 251, 14%, 47%;
    --cinder-700-hsl: 246, 15%, 37%;
    --cinder-800-hsl: 245, 17%, 28%;
    --cinder-900-hsl: 244, 19%, 18%;
    --cinder-950-hsl: 244, 21%, 13%;

    --mauve-50:  #f9f5ff;
    --mauve-100: #f1e9fe;
    --mauve-200: #e6d7fd;
    --mauve-300: #cfb1fb;
    --mauve-400: #b788f8;
    --mauve-500: #9c5bf1;
    --mauve-600: #853ae3;
    --mauve-700: #7128c8;
    --mauve-800: #6126a3;
    --mauve-900: #502083;
    --mauve-950: #340a61;

    --mauve-50-hsl:  264, 100%, 98%;
    --mauve-100-hsl: 263, 91%, 95%;
    --mauve-200-hsl: 264, 90%, 92%;
    --mauve-300-hsl: 264, 90%, 84%;
    --mauve-400-hsl: 265, 89%, 75%;
    --mauve-500-hsl: 266, 84%, 65%;
    --mauve-600-hsl: 267, 75%, 56%;
    --mauve-700-hsl: 267, 67%, 47%;
    --mauve-800-hsl: 268, 62%, 39%;
    --mauve-900-hsl: 269, 61%, 32%;
    --mauve-950-hsl: 269, 81%, 21%;
}

/*------------------- Components styling -------------------*/

h1, h2, h3, h4, h5, h6 {
    width: fit-content;
    padding: .2rem .4rem;

    font-family: var(--font-two);
    font-weight: 600;

    color: var(--background-color);
    background-color: var(--primary-color);
}

a {
    color: var(--primary-color);
    font-weight: 800;
    text-decoration: none;
    transition: .125s;
}
a:hover {
    color: var(--primary-tint-color);
}

p {
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
}

strong {
    padding: .1rem .2rem;
    font-weight: 700;
    background-color: hsla(var(--primary-color-hsl), 0.3);
    color: var(--primary-color);
}

small {
    color: var(--text-shade-color);
    font-size: .75rem;
    font-weight: 900;
    line-height: 1rem;
}

hr {
    width: 100%;
    margin-top: 2rem;
    padding-bottom: .15rem;
    margin-bottom: 2rem;

    border-left: 0;
    border-right: 0;
    border-top: dotted 3px var(--primary-color);
    border-bottom: dotted 3px var(--primary-color);
}

mark {
    color: var(--primary-color);
    background-color: inherit;
}